@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Helvetica, Arial, sans-serif;
}

@layer components {
  .section-container {
    @apply max-w-7xl mx-auto px-6 md:px-12 py-24 md:py-32;
  }
}
